@page "/schoolworks"

<div class="page-content">
    <h1>School Works</h1>
    <p>This page will showcase every school projects I've finished during my time at NAIT.</p>
</div>

<iframe src="https://shimmering-mooncake-960a4b.netlify.app/"
        width="960"
        height="600"
        style="border: none;">
</iframe>