.page-content {
    padding-top: 75px;
}

select {
    display: block;
    background-color: #B6F7A0;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 400px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.radio-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.radio-container label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
}