@inherits LayoutComponentBase
@inject HttpClient Http

<Header Http=@Http PrimaryColor="#B6F7A0" SecondaryColor="#D2F1E4" />

<div id="main">
    @Body
</div>

<Footer Http=@Http PrimaryColor="#B6F7A0" SecondaryColor="#D2F1E4" />